{% extends 'myapp/base.html' %}

{% block title %}
    <title>Первая страница на django index.html</title>
{% endblock %}

{% block content%}

    <h1>Это главная (домашняя) страница 1</h1>
    <br>
    <p>Ноутбук — это портативный компьютер, который объединяет все основные компоненты настольного ПК в одном устройстве.</p>
<p>Он оснащен экраном, клавиатурой и тачпадом, что делает его удобным для работы в любом месте.</p>
<p>Ноутбуки бывают разных размеров и мощностей, что позволяет выбирать подходящую модель для различных задач.</p>
<p>Они идеально подходят для студентов, профессионалов и всех, кто ценит мобильность.</p>
<p>Современные ноутбуки также могут иметь длительное время работы от аккумулятора, что позволяет использовать их без подключения к сети.</p>

{% endblock %}