{% extends 'myapp/base.html' %}

{% block title %}
    <title>Тест</title>
{% endblock %}

{% block content %}
    <h3>Тестовые вопросы (2 страница)</h3>
    <ol>
        <li>Что такое процессор в ноутбуке?</li>
        <li>Какую роль выполняет оперативная память?</li>
        <li>Что такое жесткий диск и чем он отличается от SSD?</li>
        <li>Какую функцию выполняет видеокарта?</li>
        <li>Что такое материнская плата?</li>
        <li>Какое значение имеет диагональ экрана?</li>
        <li>Что такое аккумулятор и как он влияет на производительность ноутбука?</li>
        <li>Что такое система охлаждения и зачем она нужна?</li>
        <li>Почему обновление драйверов является важным?</li>
        <li>Как влияет количество портов и разъемов на функциональность ноутбука?</li>
    </ol>
{% endblock %}